/* Для всех страниц добавления или редактирования данных */

.addEditPage-container {
    margin: 3em 3em; /* Убираем отступы главного контейнера*/
}

/* Кнопка сохранить */
.save {
    background-color: #83D167;
}
.save:hover {
    background-color: #3e9b1d;
}

/* Контейнер чекбокса для архивации */
.archiving-object-container {
    display: flex;
    margin-right: 20px;
}

/* Чекбокс */
.archiving-object-checkbox {
    margin-right: 18px;
    width: 15px;
}

/* Текст для чекбокса */
.archiving-object-text {
    font-style: italic;
    align-content: center;
    user-select: none; /* Запрет на выделение */
}

/* Название раздела */
.section-title {
    font-size: 1.2rem;
    font-style: italic;
    color: #2c3e50;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #7ca87d;
}

/* Контейнер поля для ввода данных (1 компонент) */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

/* Заголовок для поля ввода */
.input-label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

/* Поле для ввода */
.input-field {
    padding: 10px 15px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s;
}
.input-field:focus {
    border-color: #7ca87d;
    box-shadow: 0 0 0 3px rgba(76,175,80,0.2);
    outline: none;
}

/* Контейнер поля для ввода данных (несколько компонентов) */
.form-row {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    transition: all 0.3s;
}

/* Контейнер поля для чекбокса с отображением поля */
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Контейнер для чекбокса */
.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s;
}
.checkbox-label:hover {
    background: #f5f5f5;
}

/* Заголовок для чекбокса */
.checkbox-caption {
    font-size: 14px;
    color: #444;
}

/* Адаптивность */
@media (max-width: 768px) {
    
    .form-row {
        flex-direction: column;
    }
    
    .input-field {
        width: 100% !important;
    }
    
    .control-components {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .archive-close-save-group {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .page-name {
        font-size: 1.5rem;
    }
    
    .upload-button {
        width: 100%;
        padding: 15px;
    }
    
    .image-preview {
        width: 100%;
        height: auto;
        max-width: 300px;
    }
}