/* Стили для страницы - управление сотрудниками */

/* Элементы в заголовке старницы */
.addEditStaff-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Группа кнопок в заголовке */
.addEditStaff-button-group {
    display: flex;
    gap: 15px;
}

/* Кнопка удалить в заголовке */
.addEditStaff-delete {
    margin-right: 15px;
    background-color: #e74c3c;
}

.addEditStaff-delete:hover {
    background-color: #c0392b;
}

.button-control:disabled {
    opacity: 0.5;
    /* Серый цвет фона для заблокированной кнопки */
    cursor: not-allowed;
    /* Изменение курсора для заблокированной кнопки */
}

/* Контейнер всех полей */
.addEditStaff-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

/* Секция страницы (колонна) */
.addEditStaff-section {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 20%;
}

/* Группы полей */
.form-row {
    /* flex-direction: column; */
}

/* Чекбокс контейнер */
.addEditStaff-checkbox-label {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: stretch;
    cursor: pointer;
    padding: 10px 9px;
    border-radius: 8px;
    transition: all 0.3s;
}

.addEditStaff-checkbox-label:hover {
    background: #f5f5f5;
}

/* Чекбокс */
.addEditStaff-checkbox-label input {
    margin-right: 18px;
    width: 20px;
    height: 20px;
}

/* Текст для чекбокса */
.addEditStaff-checkbox-caption {
    font-style: italic;
    align-content: center;
    max-width: 220px;
    flex-wrap: wrap;
}

/* Адаптивность */
@media (max-width: 768px) {

    /* Элементы в заголовке старницы */
    .addEditStaff-controls {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    /* Группы полей */
    .form-row {
        flex-direction: column;
    }
}