/* Стили для страницы - управление сотрудниками */

/* Элементы в заголовке старницы */
.addEditStaff-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Группа кнопок в заголовке */
.addEditStaff-button-group {
    display: flex;
    gap: 15px;
}

/* Кнопка удалить в заголовке */
.addEditStaff-delete {
    margin-right: 15px;
    background-color: #e74c3c;
}

.addEditStaff-delete:hover {
    background-color: #c0392b;
}

.button-control:disabled {
    opacity: 0.5;
    /* Серый цвет фона для заблокированной кнопки */
    cursor: not-allowed;
    /* Изменение курсора для заблокированной кнопки */
}

/* Подтверждение Email */

/* Контейнер поля Email */
.addEditStaff-email-group {
    flex-grow: 1;
}

/* Блокировка поля Email при отправке код подтверждения на Email */
.addEditStaff-email-disabled {
    border: 2px solid #ffa500;
    background-color: #fff9e6;
    /* background-color: #f5f5f5; */
    cursor: not-allowed;
}

/* Подтверждение, сброс и сохранение email. Кнопки */
.addEditStaff-confirm,
.addEditStaff-save-email,
.addEditStaff-reset-email {
    margin-top: 15px;
    height: 41.6px;
    text-wrap: nowrap;
    align-items: center;
    /* Таймер по центру */
    justify-content: center;
}

/* Размер кнопки "Выслать код", таймера и "Подвредить" */
.addEditStaff-confirm,
.addEditStaff-verify {
    width: 127.36px;
}

/* Контейнер кнопок "Сохранить" и "Сбросить" */
.addEditStaff-email-buttons {
    display: flex;
    gap: 10px;
}

/* Кнопка сбросить */
.addEditStaff-reset-email {

    padding: 0;
}

/* Иконка сбросить */
.addEditStaff-reset-email img {
    padding: 10px;
    width: 21px;
    height: 21px;
    object-fit: contain;
    /* Пропорция формы */
}

/* Контейнер поля для кода подтверждения */
.addEditStaff-code-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* Поле для кода подтверждения */
.addEditStaff-code-input {
    width: 200px;
}

/* Убираем стрелки с поля */
.addEditStaff-code-input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

/* Кнопка проверки кода подтверждения */
.addEditStaff-verify {
    margin-top: 15px;
    height: 41.6px;
}

/* Контейнер всех полей */
.addEditStaff-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

/* Секция страницы (колонна) */
.addEditStaff-section {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 20%;
}

/* Группы полей */
.form-row {
    /* flex-direction: column; */
}

/* Чекбокс контейнер */
.addEditStaff-checkbox-label {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: stretch;
    cursor: pointer;
    padding: 10px 9px;
    border-radius: 8px;
    transition: all 0.3s;
}

.addEditStaff-checkbox-label:hover {
    background: #f5f5f5;
}

/* Чекбокс */
.addEditStaff-checkbox-label input {
    margin-right: 18px;
    width: 20px;
    height: 20px;
}

/* Текст для чекбокса */
.addEditStaff-checkbox-caption {
    font-style: italic;
    align-content: center;
    max-width: 220px;
    flex-wrap: wrap;
}

/* Адаптивность */
@media (max-width: 768px) {

    /* Элементы в заголовке старницы */
    .addEditStaff-controls {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    /* Группы полей */
    .form-row {
        flex-direction: column;
    }
}