/* Стили для страницы "Категории" */

/* Группировка кнопок*/
.refresh-title-group {
    display: flex; /* Отображение элементов в строку */
    align-items: center; /* Вертикальное выравнивание элементов */
    gap: 50px;
}

/* Группировка кнопок*/
.add-change-search-archive-group {
    display: flex; /* Отображение элементов в строку */
    align-items: center; /* Вертикальное выравнивание элементов */
    gap: 50px;
}

/* Группировка кнопок*/
.add-change-group {
    display: flex; /* Отображение элементов в строку */
    align-items: center; /* Вертикальное выравнивание элементов */
    gap: 20px;
}