/* Стили для страницы "Категории" */

/* Группировка кнопок*/
.add-change-group {
    display: flex; /* Отображение элементов в строку */
    align-items: center; /* Вертикальное выравнивание элементов */
    gap: 20px;
}