/* Стили для страницы "Блюда" */

/* Группировка кнопок архив и настройки*/
.archive-settings-group {
    display: flex; /* Отображение кнопок в строку */
    align-items: center; /* Вертикальное выравнивание кнопок */
    gap: 20px;
}

/* Группировка кнопок добавить, фильтрация и изменить*/
.add-filter-change-group {
    display: flex; /* Отображение кнопок в строку */
    align-items: center; /* Вертикальное выравнивание кнопок */
    gap: 20px;
}

/* Меню фильтра */
.page-filter {
    display: flex;
    position: relative;
}

/* Таблица */
.table-page {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}