/* Стили для страницы "Блюда" */

/* Меню фильтра */
.page-filter {
    display: flex;
    position: relative;
}

/* Таблица */
.table-page {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}