/* Стили для шапки */

* {
     /* Нельзя выделять */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Переменные */
:root {
    --header-height: 60px; /* Высота шапки */
}

/* Основной контейнер шапки */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #C1CFC4;
    color: white;
    height: var(--header-height);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Логотип */
.logo {
    font-size: 24px;
    font-weight: bold;

    color: #FFFFFF;
    margin-left: 10px;
}

.logo:hover {
    transform: translateY(-2px);
}

/* Кнопки навигационного меню */
.nav-button {
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: color 0.3s;
    font-size: 14px;

}

.nav-button:hover {
    transform: translateY(-2px);
}

/* Кнопки иконки */
.icons {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.icons img {
    width: 40px;
}

.icons img:hover {
    transform: translateY(-2px);
}

/* Контейнер информации о пользователе */
.user-details-Headers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

/* Имя пользователя */
.user-name-Header {
    font-weight: 500;
    font-size: 14px;
}

/* Роль пользователя */
.user-role-Header {
    font-size: 12px;
    color: #666;
    margin-top: 3px;
    font-weight: 500;
    opacity: 0.7;
}