 /* Стили для страницы "Статусы заказов" */

 /* Группировка кнопок и поиска */
 .order-status-buttons-search-group {
     display: flex;
     /* Отображение кнопок в строку */
     align-items: center;
     /* Вертикальное выравнивание кнопок */
     gap: 20px;
 }