/* Общие стили для страниц */

/* Главный контейнер страницы */
.page {
    margin: 3em 3em;
}

/* Управляющие компоненты (Обновить страницу, название, кнопки и тд) */
.control-components {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Название страницы */
.page-name {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Кнопки управления */
.button-control {
    background-color: #ADADAD;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 7px 20px;
    cursor: pointer;
    transition: background-color 0.3s; /*Плавный переход при наведении*/
}
.button-control:hover {
    background-color: #999999;
}

/* Кнопка добавления */
.add {
    height: 33.2px; /* Установка фиксированной высоты кнопки */
}

/* Иконка в кнопке добавить */
.icon-button {
    margin-left: -10px;
    margin-right: 13px;
    width: 21px;
    height: 21px;
    object-fit: contain; /* Пропорция формы */
    
}

 /* Общая группировка элементов над списком/таблицей и тд */
 .elements-group {
    display: flex;
    /* Отображение кнопок в строку */
    align-items: center;
    /* Вертикальное выравнивание кнопок */
    gap: 50px;
 }

 /* Группировка кнопки перезагрузки и заголовка */
 .refresh-title-group {
    display: flex;
    /* Отображение кнопок в строку */
    align-items: center;
    /* Вертикальное выравнивание кнопок */
    gap: 50px;
}


