 /* Стили для страницы "Сотрудники" */

 /* Группировка кнопок */
 .add-filter-search-column-group {
    display: flex; /* Отображение кнопок в строку */
    align-items: center; /* Вертикальное выравнивание кнопок */
    gap: 20px;
 }