 /* Стили для страницы "Пользователи" */

 /* Группировка кнопок */
 .filter-search-column-group {
     display: flex; /* Отображение кнопок в строку */
     align-items: center; /* Вертикальное выравнивание кнопок */
     gap: 20px;
 }