/* Кнопка архива */

.archive-button {
    height: 33.2px; /* Установка фиксированной высоты кнопки */
}

.archive-button.active {
    background-color: #535353; /* Цвет при активном состоянии */
}

/* Стиль для иконки в кнопке при просмотре архива */
.icon-archive {
    border: 1px solid white;
    background: white;
    border-radius: 5px;
}