/* Выпадающее меню */
.dropdown-change {
    position: relative;
    display: inline-block;
}

/* Выпадающий список */
.dropdown-menu-change {
    position: absolute;
    background-color: white; /* Цвет заднего фона */
    border: 1px solid #ccc; /* Цвет рамки */
    border-radius: 5px; /* С округленными углами */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Тень для меню */
    z-index: 1; /* Размещение поверх других элементов */
    margin-top: 5px;
}

/* Элемент выпадающего списка */
.dropdown-option-change {
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Отступы у опций */
    cursor: pointer;
}
.dropdown-option-change:hover {
    background-color: #f1f1f1;
}

/* Иконка разархивации в кнопке выпадающего меню */
.dropdown-button-icon {
    margin-left: 26px;
    margin-top: 0px;
    width: 21px;
    height: 21px;
    object-fit: contain; /* Пропорция формы */
}
