/* Поле для выбора нескольких значений */

.multi-select {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* position: relative; */
}

.selected-values {
    display: flex;
    flex-wrap: wrap;
    width: 197.6px;
    align-items: center;
    cursor: pointer;
}

.selected-item {
    background: #e0e0e0;
    border-radius: 4px;
    padding: 2px 8px;
    margin: 2px;
}

/* Крестик для удаления выбранного объекта */
.remove-item {
    margin-left: 5px;
    font-size: 15px; /* Размер крестика */
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.multi-select-input {
    border: none;
    outline: none;
    flex-grow: 1;
}

.dropdown {
    position: relative;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-height: 150px; /* Ограничиваем высоту для прокрутки */
    overflow-y: auto; /* Прокливаем при переполнении */
    z-index: 100;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0; /* Цвет при наведении */
}

.dropdown-multi-select {
    position: relative;
    background-color: #f0f0f0;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}
